@page "/settings"
@using BrigittaBlazor.Shared.Components.Settings


<MudGrid Spacing="2" Justify="Justify.Center">
    <MudItem xs="8">
        <h1>Settings</h1>
    </MudItem>
    <MudItem xs="8">
        <MudPaper Class="pa-2">
            <AudioSettings/>
        </MudPaper>
    </MudItem>

    <MudItem xs="8">
        <MudPaper Class="pa-2">
            <HotkeySettings/>
        </MudPaper>
    </MudItem>
</MudGrid>


@code {

}