@page "/settings"
@using BrigittaBlazor.Shared.Components.Settings

<h1>Settings</h1>

<MudGrid Spacing="2">
    <MudItem xs="12">
        <MudPaper Class="pa-2">
            <AudioSettings/>
        </MudPaper>
    </MudItem>

    <MudItem xs="12">
        <MudPaper Class="pa-2">
            <HotkeySettings/>
        </MudPaper>
    </MudItem>
</MudGrid>


@code {
    

}